DATABASE_NAME=booking_project
COLLECTION_NAME_BOOKINGS=booking_project_collection_bookings
COLLECTION_NAME_RESOURCES=booking_project_collection_resources
MONGODB_URI=<srv string from atlas cluster>
BROKER_API_URL=<broker url utan avslutande />
BROKER_GROUP_TOKEN=<unik broker token för gruppen>
PORT=3000
